@model IEnumerable<C__Cumulative_Part_1.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing information about all Teachers</p>

<div id="containerlist">
    <nav>
        <a class="navlink" href="/Teacher/New">New Teacher</a>
    </nav>
    <h2>List of Teacher</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" autocomplte="off" name="SearchKey">
        <input type="submit" value="Search">
    </form>
    @foreach (var Teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12">
                <a href="/Teacher/Show/@Teacher.teacherid">
                    @Teacher.teacherfname
                @Teacher.teacherlname
            </a>
        </div>
    </div>
}
</div>

